flask >= 2.0.0
replit >= 3.2.0
jishaku >= 2.3.0
durations-nlp >= 1.0.1
wikipedia >= 1.4.0
discord.py @ git+https://github.com/Rapptz/discord.py
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
typing-extensions >= 3.7.4.3
simpleeval >= 0.9.11
emojis >= 0.6.0
pandas >= 1.4.0
black >= 22.1.0
parsedatetime >= 2.6
lxml >= 4.8.0